<div id="page_wrapper">
	<div id="profile_image">
		
	</div>

	<div id="content">
		<h1>Hi, my name is Aaron Zeng. I am a software engineer.</h1>
		<p>I love building web apps using Ruby on Rails. I have built a lot of apps in RoR including this Web Blog. </p>
		<p>In fact this is one of the experiment projects I built when I was learning RoR. Feel free to drop me a message if you are interested in my blog.</p>
		<p>I am based in Guangzhou, China. But sometimes I like to get tanned on the beach of Thailand or relax on the beach of Australia :) </p>
	</div>
</div>